#nav-topbar {
    position:fixed;
    z-index: 10;
    background: rgba(255,255,255,0.85);
    width:100vw;
    height: 50px;
    display:none;
}

#nav-item-container {
    position:fixed;
    top: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

}

#nav-items .active {
    color: #3A93B1; 
}

#nav-topbar #nav-home {
    display: inline;
}

#nav-topbar #nav-home:hover {
    color: #2C6C80;
}

#nav-topbar #nav-items {
    display: inline;
    position: absolute;
    /* left: 700px; */
    right:0px;
}

  @media screen and (max-width: 600px) {
     #nav-topbar #nav-items {
         display:none;
     }
 } 

 #nav-topbar .nav-item {
    display: inline;
    position:relative;
    /* left: 700px;  */
    padding-left: 30px;
} 

#nav-topbar .nav-item:hover{
    color: #2C6C80;
}

#nav-topbar a{
    text-decoration:none;
    color: inherit;
}

#nav-underline {
    background-color: #B4D3DC;
    width: 100%;
    height: 2px;
    position:relative;
    top: 7px
}

/* #nav-sidebar {
    display:none;
    position:fixed;
    top:0px;
    right:0px;
    width:325px;
    max-width: 40%;
    height:100vh;
    background-color:white;
    z-index:13;
}


#sidebar-exit {
    position:absolute;
    top:20px;
    left:85%;
    width:20px;
}

#sidebar-text-container {
    width:60%;
    position:relative;
    left: 20%;
    top: 40px;
}

#sidebar-heading {
    font-family: Raleway;
    font-size: 31px;
    text-align:center;
    margin-bottom:5px;
}

#sidebar-heading a {
    text-decoration:none;
    color: inherit;
}

#orange-line {
    background-color: #F09333;
    height:3px;
    /*width:67%;
    position:relative;
    left: 33%;
}


#menu-items a {
    display: block;
    text-decoration:none;
    text-align:right;
    margin-top:15px;
    font-size: 20px;
    color: #7F7F7F;
}

#menu-items a.on {
    color: #4E93A8;
}

 @media screen and (max-width: 810px) {
    #menu-items a {
        text-align:center;
    }
 } 