body {
    color: #404040;
    font-family: "Avenir";
    margin: 0 0;
}

.outer-container {
    max-width: 1100px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    
}

.section-card {
	/*min-height: 100vh;*/
	background-color: white;
	position: relative;
	width: 100%;
}

#grayed-out-box {
    display:none;
    position:fixed;
    width:100%;
    height:100vh;
     background-color:rgba(0,0,0,.32); 
     /* background-color:yellow;  */
    z-index:15;
}


/*DESIGN FOR SLIDE HEADERS*/
    .slide-border {
        height:65px;
    }

    .card-header-container {
        /*position:relative;*/
        height:70px;
        width:80%;
        padding:20px;
    }

    .menu-button {
        position:absolute;
        height:40px;
        right:30px;
        top:35px;
        z-index:11;
    }

    .card-title{
        display:block;
        position:relative;
        left:60%;
        transform: translateX(-50%);
        max-height:100%;
        max-width:100%;
        object-fit:contain;
    }


    @media screen and (max-width: 500px) {
        .menu-button {
            height:30px;
        }
        .card-title {
            height:65px;
        }
        .card-header-container {
            height: 65px;
        }
    }


.swirl-container {
    padding-top:15px; 
    height: 30px;
    
}

.swirl {
    position:relative;
    left:50%;
    transform: translateX(-50%);
    max-height:100%;
    max-width:100%;
    object-fit:contain;
}

.line-link{
    text-decoration:none;
    color: #F09333
}

.line-link:hover {
    color:#325687;
}


#footer {
    padding-bottom: 20px;
    text-align: center;
}



    

    









